<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ricardomartins_pagbank>
                <active>1</active>
                <model>RicardoMartinsPagBankCcFacade</model>
                <title>PagBank</title>
                <document_from>payment_form</document_from>
                <debug>1</debug>
                <sandbox_flag>1</sandbox_flag>
                <connect_key />
                <is_gateway>1</is_gateway>
                <payment_action>authorize</payment_action>
                <order_status>pending</order_status>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
            </ricardomartins_pagbank>
            <ricardomartins_pagbank_cc>
                <active>1</active>
                <model>RicardoMartinsPagBankCcFacade</model>
                <title>PagBank Credit Card</title>
                <sort_order>1</sort_order>
                <payment_action>authorize_capture</payment_action>
                <order_status>pending</order_status>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_accept_payment>1</can_accept_payment>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
<!--                <cctypes_braintree_mapper><![CDATA[{"american-express":"AE","discover":"DI","jcb":"JCB","mastercard":"MC","master-card":"MC","visa":"VI","maestro":"MI","uk-maestro":"MI","diners-club":"DN"}]]></cctypes_braintree_mapper>-->
<!--                <cctypes_mapper><![CDATA[{"AMEX":"AE","ELO":"ELO","MASTERCARD":"MC","VISA":"VI","HIPERCARD":"HC","AURA":"AU","DINNERS":"DN"}]]></cctypes_mapper>-->
<!--                <cctypes>HC,ELO,AE,VI,MC,DN,AU</cctypes>-->
<!--                <cctypes>AE,VI,MC,DI,JCB,CUP,DN,MI</cctypes>-->
                <paymentInfoKeys>payment_id,charge_id,cc_owner,cc_last_4,status,installments,charge_link</paymentInfoKeys>
                <privateInfoKeys>payment_id,charge_id,charge_link</privateInfoKeys>
            </ricardomartins_pagbank_cc>
            <ricardomartins_pagbank_boleto>
                <active>1</active>
                <model>RicardoMartinsPagBankBoletoFacade</model>
                <title>PagBank Boleto</title>
                <sort_order>2</sort_order>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_initialize>1</can_initialize>
                <can_capture>0</can_capture>
                <can_authorize>0</can_authorize>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_accept_payment>0</can_accept_payment>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>payment_id,expiration_date,payment_link_boleto,payment_text_boleto</paymentInfoKeys>
                <privateInfoKeys>payment_id</privateInfoKeys>
            </ricardomartins_pagbank_boleto>
            <ricardomartins_pagbank_pix>
                <active>1</active>
                <model>RicardoMartinsPagBankQrCodeFacade</model>
                <title>PagBank Pix</title>
                <sort_order>2</sort_order>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <is_gateway>1</is_gateway>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <can_capture>0</can_capture>
                <can_authorize>0</can_authorize>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <qr_code_expiration>+1 day</qr_code_expiration>
                <paymentInfoKeys>payment_id,expiration_date,payment_link_qrcode,payment_text_pix</paymentInfoKeys>
                <privateInfoKeys>payment_id</privateInfoKeys>
            </ricardomartins_pagbank_pix>
        </payment>
    </default>
</config>
