<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ricardomartins_pagbank>
                <active>0</active>
                <model>RicardoMartinsPagBankCcFacade</model>
                <title>PagBank</title>
                <group>ricardomartins_pagbank_group</group>
                <document_from>payment_form</document_from>
                <pix_update_cron>1</pix_update_cron>
                <force_order_update_cron>0</force_order_update_cron>
                <debug>1</debug>
                <sandbox_flag>1</sandbox_flag>
                <connect_key />
                <is_gateway>1</is_gateway>
                <payment_action>authorize</payment_action>
                <order_status>pending</order_status>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
            </ricardomartins_pagbank>
            <ricardomartins_pagbank_cc>
                <active>0</active>
                <model>RicardoMartinsPagBankCcFacade</model>
                <title>PagBank Cartão de Crédito</title>
                <group>ricardomartins_pagbank_group</group>
                <sort_order>1</sort_order>
                <payment_action>authorize_capture</payment_action>
                <order_status>pending</order_status>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_accept_payment>1</can_accept_payment>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <cc_3ds>0</cc_3ds>
                <cc_3ds_allow_continue>0</cc_3ds_allow_continue>
                <cctypes_pagbank_mapper><![CDATA[{"AE":"AMEX","AU":"AURA","DI":"DISCOVER","DN":"DINERS","ELO":"ELO","HC":"HIPERCARD","MC":"MASTERCARD","VI":"VISA"}]]></cctypes_pagbank_mapper>
                <cctypes>AE,AU,DI,DN,ELO,HC,MC,MI,VI,unknown</cctypes>
                <paymentInfoKeys>is_sandbox,payment_id,charge_id,brand,cc_owner,cc_last_4,installments,charge_link,authorization_code,nsu,threed_secure_id</paymentInfoKeys>
                <privateInfoKeys>is_sandbox,payment_id,charge_id,charge_link,status,authorization_code,nsu,threed_secure_id</privateInfoKeys>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
            </ricardomartins_pagbank_cc>
            <ricardomartins_pagbank_cc_vault>
                <active>1</active>
                <model>RicardoMartinsPagBankCcVaultFacade</model>
                <title>PagBank Stored Credit Card</title>
                <group>ricardomartins_pagbank_group</group>
                <paymentInfoKeys>is_sandbox,payment_id,charge_id,brand,cc_owner,cc_last_4,installments,charge_link,authorization_code,nsu</paymentInfoKeys>
                <privateInfoKeys>is_sandbox,payment_id,charge_id,charge_link,status,authorization_code,nsu</privateInfoKeys>
            </ricardomartins_pagbank_cc_vault>
            <ricardomartins_pagbank_boleto>
                <active>0</active>
                <model>RicardoMartinsPagBankBoletoFacade</model>
                <title>PagBank Boleto</title>
                <group>ricardomartins_pagbank_group</group>
                <sort_order>2</sort_order>
                <expiration_time>7</expiration_time>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_accept_payment>0</can_accept_payment>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>is_sandbox,payment_id,charge_link,expiration_date,payment_link_boleto_pdf,payment_link_boleto_image,payment_text_boleto</paymentInfoKeys>
                <privateInfoKeys>is_sandbox,payment_id,charge_link</privateInfoKeys>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <instruction_line_one>Seu pedido só será processado após o pagamento.</instruction_line_one>
                <instruction_line_two>Obrigado pela preferência.</instruction_line_two>
            </ricardomartins_pagbank_boleto>
            <ricardomartins_pagbank_pix>
                <active>0</active>
                <model>RicardoMartinsPagBankQrCodeFacade</model>
                <title>PagBank Pix</title>
                <group>ricardomartins_pagbank_group</group>
                <sort_order>2</sort_order>
                <expiration_time>480</expiration_time>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <is_gateway>1</is_gateway>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <qr_code_expiration>+1 day</qr_code_expiration>
                <paymentInfoKeys>is_sandbox,payment_id,expiration_date,payment_link_qrcode,payment_text_pix</paymentInfoKeys>
                <privateInfoKeys>is_sandbox,payment_id</privateInfoKeys>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
            </ricardomartins_pagbank_pix>
        </payment>
    </default>
</config>
