<!-- ko if: requestTaxIdAtCheckout() -->
<div class="field">
    <label class="label" data-bind="attr: {for: getCode() + '-tax-id'}">
        <span data-bind="i18n: 'Document'"></span>
    </label>
    <div class="control">
        <input type="text"
               name="tax_id"
               class="input-text"
               data-bind="attr: {
                        id: getCode() + '_tax_id',
                        title: $t('Document'),
                        'data-container': getCode() + '-tax-id',
                        'data-validate': JSON.stringify({
                            'required-number':true
                        })},
                  enable: isActive($parents),
                  value: taxId,
                  valueUpdate: 'keyup' " />
    </div>
</div>
<!-- /ko -->
