<div class="payment-method ricardomartins-pagbank-form" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()}">
            <!-- Logo -->
            <img data-bind="attr: {alt: getTitle(),
                        src:require.toUrl('RicardoMartins_PagBank/images/pix.svg')}"
                 class="payment-icon pix-icon" />
            <!-- Logo -->
            <span class="title-wrapper">
                <span class="title" data-bind="text: getTitle()"></span>
            </span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <div class="opc-block-summary">
            <div class="payment-information">
                <p><!-- ko i18n: 'Pay safely and instantly!'--><!-- /ko --></p>
                <p><!-- ko i18n: 'The QrCode will be displayed at checkout.'--><!-- /ko --></p>
                <p><!-- ko i18n: getExpirationMessage() --><!-- /ko --></p>
            </div>
        </div>

        <form class="form" action="#" method="post" data-bind="attr: {id: getCode() + '_payment-form'}">
            <fieldset class="fieldset">
                <!-- ko template: 'RicardoMartins_PagBank/payment/customer-fields' --><!-- /ko -->
            </fieldset>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                         attr: {title: $t('Place Order')},
                         enable: (getCode() == isChecked()),
                         click: placeOrder
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

    </div>
</div>
