<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="ricardomartins_pagbank" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PB Integrações</label>
                <comment>Aceite PIX, Cartão e Boleto de forma transparente com Vindi (ou PagBank até 5/nov/2026).</comment>
                <fieldset_css>complex admin-config-ricardomartins-pagbank</fieldset_css>
                <frontend_model>RicardoMartins\PagBank\Block\Adminhtml\Config\Fieldset</frontend_model>
                <attribute type="displayIn">recommended_solutions</attribute>
                <include path="RicardoMartins_PagBank::system/general_settings.xml"/>
                <include path="RicardoMartins_PagBank::system/credit_card.xml"/>
                <include path="RicardoMartins_PagBank::system/boleto.xml"/>
                <include path="RicardoMartins_PagBank::system/pix.xml"/>
            </group>
        </section>
    </system>
</config>
