& when (@media-common = true) {
    .checkout-payment-method {
        .ricardomartins-pagbank-form {
            .payment-method-title {
                .payment-icon {
                    height: 30px;
                    filter: contrast(0%);
                }
            }
            .field {
                .input-text, .select-installments {
                    width: 400px;
                    max-width: 100%;
                }
            }
            .payment-information {
                p {
                    margin: 0.3rem;
                }
            }
        }
    }
}
